[Interface]
Address = {{ connection.peer_ip }}
PrivateKey = {{ privatekey }}
DNS = {{ connection.dns_servers[0] }},{{ connection.dns_servers[1] }}

# Added PostUp/PreDown routing rules to support docker container routing
# Ref: https://www.linuxserver.io/blog/routing-docker-host-and-container-traffic-through-wireguard#routing-a-containers-traffic-through-the-wireguard-container-via
# Uncomment the below two PostUp and PreDown routing rules if routing containers through WireGuard container
PostUp = iptables -t nat -A POSTROUTING -o wg+ -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o wg+ -j MASQUERADE

[Peer]
PublicKey = {{ connection.server_key }}
Endpoint = {{ connection.server_ip }}:1337
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
